.customers-saying img {
  width: 90%
}

/* Testimonials */
.testimonial {
  padding: 0 1rem;
}

.testimonials-header {
  font-size: 20px;
  font-weight: bold
}

.testimonials-body {
  font-size: 1rem;
  line-height: 1.8;
}

.testimonials-footer {
  font-size: 16px;
}

/* Footer */
.footer .brands,
.footer .com-soc {
  border-bottom: 1px solid #C9C8C8;
}

.footer .shop-go {
  font-size: 25px;
}

.footer .trusted-brands {
  font-size: 20px;
}

.footer .brands {
  font-size: 18px;
}

.footer ul li {
  font-size: 0.85rem
}




